<table id="table">
	<thead id="encabesado">
		<tr>
			<th>C&eacute;dula</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Tipo de Empleado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody class="tbody" id="contenido">
    <tr th:each="e: ${employee}">
				<td th:text="${e.id}"></td>
				<td th:text="${e.name}"></td>
				<td th:text="${e.lastName}"></td> 
				<td th:text="${e.type}"></td> 
			    <td id="buttonsAcions">

				<button type="button" class="btn-detail bDetail" name="btn-detail" 
				th:onclick="|bDetail2('${e.id}')|">
				<i class="far fa-address-card fa-lg"></i></button>

					<a href="/employee/getEdit?id="+ '${e.id}'>
					<button type="button" class="bEdit btn-edit" name="btn-edit">
					<i class="far fa-edit fa-lg"></i></button></a>
							
				<button type="button" class="btn-delete bDelete" th:onclick="|bDelete('${e.id}')|">
				<i class="fas fa-trash-alt fa-lg"></i></button>
			</td>
        </tr>
		<tr th:if="${employee.size==0}" class="text-center">
            <td colspan="5">
                <b>No se encontraron resultados</b>
            </td>
        </tr>
</tbody>
</table>
