



.bodylist{
    background-color: var(--clr-neutral-200);
    align-items: center;
}

#selectSearch, #inputSearch {
    width: 37%;
    padding: 10px 7px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#bSearch {
    width: 50px;
    height: 40px;
    background-color: #80BD5D;
    padding: 5px 10px;
    border: none;
    -webkit-box-shadow: inset 0 0 15px 0 rgb(0 0 0 / 30%);
    border-radius: 7px;
    cursor: pointer;
}

caption{
	border: 1px solid #000000;
	font-size: 30px;
	font-family: 'Rock Salt', cursive;
	padding: 20px;
	font-style: italic;
	color: #000000;
	letter-spacing: 1px;
	background-color: #c0c0c0;
}

.btn-sucursal{
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 40px;
    background-size: 100% 100%;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    border: none;
    background-size: 50%;
    color: black;
    
}

.btns-delete{
    background-color: var(--clr-delete-400);
    
   
}

.btns-edit{
    background-color: var(--clr-edit-400);
   
   
}

.btns-send{
    background-color: var(--clr-primary-200);
    line-height: 2em;
  
}

.table_container{
    margin: 0;
    margin-top: 1em;
    height: 34em;
   overflow: auto;
}

.sucursal_table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.sucursal_table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D9D9D9;
    color: black;
    text-align: center;
   
}
.sucursal_table tbody tr:nth-child(even)  {
    background-color: var(--clr-neutral-200)
}

.sucursal_table th, .sucursal_table td{
    border: 1px solid #ddd;
    padding: 8px;
}

.pagging {
	color: white;
	display: inline-block;
	text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 40px;
    -webkit-box-shadow: inset 0 0 15px 0 rgb(0 0 0 / 50%);
    border-radius: 7px !important;
    border: none;
    background-size: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.activeButton{
	background-color: var(--clr-accent-300);
}



.justify-between {
	justify-content: space-between;
}

.col-paggin {
    float: left;
    width: 70%;
    
  }
  
  .col-page {
    float: left;
    width: 30%;
    
  }
  .col-search {
    float: right;
    width: 40%;
    
  }

  #peerPage{
    background-color: var(--clr-neutral-200);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
  }
/*------------------------------------------------------------details---------------------------------------------------------------------*/

.cardD{

    max-width:	30em;
    min-width: 15em;

    box-shadow: .5em .5em 1em -1em;
    border-radius: 4px;
    overflow: hidden;
}
.cardD ul{
    list-style: none;
    padding: 0;
}

.cardD li{
    border-bottom:2px solid var(--clr-neutral-300);
    
    padding: 10px 10px;
   	
}




