
:root{

    font-size: 1.2em;

    /*---------------------------------------------*/
    /*                 Color-Scheme                */
    /*---------------------------------------------*/

    --clr-neutral-100: #fcfcfc;
    --clr-neutral-200: #d9d9d9;
    --clr-neutral-300: #999999;
    --clr-neutral-400: #8c8c8c;
    --clr-neutral-500: #666666;
    --clr-neutral-600: #333333;

    --clr-primary-200: #80BD5D;
    --clr-primary-400: #517D3E;
    --clr-accent-300: #BC4944;
    --clr-contrast-300: #E78C4D;

    --clr-delete-400: #D8524E;
    --clr-edit-400: #EFAC50;
}



.bodyFormInsert{
	 background-color: var(--clr-neutral-200);
	 align-items: center;
}


.containerForm{
    width: 100%;
    background-color: var(--clr-neutral-200);
    min-height: 72vh;
    font-size: large;
    
}

.titulo{
  font-size: xx-large;
  margin-left: 30%;
}

.btn_insert_sucursal{
	margin-left: 44%;
    padding:1em 3em 1em 3em;
    color: inherit;
    flex-basis:calc(2 * calc(100% / 12));
    border: 1px solid var(--clr-primary-400);
    border-radius: 1em;
    margin-top: 2em;
    transition: background-color .250s, color .250s;
}

.btn_insert_sucursal:hover{
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-200);
}


input[type=time]{ 
  padding: 0 20px 0 5px; 
  font-size: large;
}




.col-left {
  float: left;
  width: 30%;
  margin-top: 30px;
  margin-left: 18%;
}

.col-rigth {
  float: left;
  width: 30%;
  margin-top: 30px;
  margin-left: 5%;
  
}

.col-time {
  float: left;
  width: 49%;
  
}



/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
   align-items: center;
   background-color: #EFAC50;
   
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-left, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


