/* Banners */

.animal-hero {
	min-width: 20em;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		45deg,
		var(--clr-contrast-300) 0%,
		var(--clr-primary-200) 100%
	);
}

.animal-hero ul {
	list-style: none;
	padding: 0;
	margin: 0 0.5em;
}

.animal-hero li {
	list-style: none;
	padding: 0.5em;
	color: var(--clr-neutral-600);
}

.animal-hero li span:first-of-type {
	display: block;
	color: var(--clr-accent-300);
	border-bottom: 1px solid var(--clr-neutral-400);
}

.animal-hero__image {
	place-self: center;
}

.animal-hero__image img {
	width: 60%;
	min-width: 15em;
	border-radius: 1em;
}

/* Forms */

.animal__form {
	width: 80%;
	padding: 2em;
	margin: 1em 0;

	max-width: 40em;
	border-radius: 1em;
	background-color: var(--clr-neutral-200);
}

.animal__form input,
.animal__form select {
	width: 100%;
	padding: 0.5em 0 0.5em 0;

	outline: none;
	border: none;
}

.animal__form select,
.animal__form [type="submit"] {
	border: 1px solid var(--clr-neutral-400);
}

.animal__form [type="radio"],
.animal__form [type="checkbox"] {
	width: auto;
}

.animal__form .tagged_input span {
	padding: 0.5em 1em 0.5em 0;
}

.animal_filter [name="filter"],
.animal_filter [id="filterBy"] {
	padding: 0.8em;
}

.animal_filter .filter_button {
	background-color: var(--clr-primary-200);
	color: var(--clr-neutral-100);

	border-radius: 0.5em;
}

/* Tables */

.table__container {
	margin: 1em;
	width: 70vw;
}

.file_preview {
	width: 10em;
	height: 10em;
	border: 1px solid var(--clr-neutral-200);
	max-width: 10em;
	overflow: hidden;
}

.images_table td:nth-of-type(2),
.images_table td:nth-of-type(3) {
	width: 1em;
}

#table img {
	max-width: 200px;
	max-height: 200px;
}

.register__button {
	background-color: var(--clr-primary-200);
	color: var(--clr-neutral-100);
	border-radius: 0.5em;
	margin-left: 1em;
	margin-right: 0.5em;
	font-size: 0.8em;
	width: 15em;
}
.register__button > span {
	margin-left: 0.5em;
	position: relative;
	top: -0.5em;
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

/* css de la estructura del js*/

.cardD {
	max-width: 30em;
	min-width: 15em;

	box-shadow: 0.5em 0.5em 1em -1em;
	border-radius: 4px;
	overflow: hidden;
}
.cardD ul {
	list-style: none;
	padding: 0;
}

.cardD li {
	border-bottom: 2px solid var(--clr-neutral-300);

	padding: 10px 10px;
}

#bSearch {
	width: 50px;
	height: 40px;
	background-color: #80bd5d;
	padding: 5px 10px;
	border: none;
	-webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
	border-radius: 7px;
	cursor: pointer;
	line-height: 2em;
}

/* css modal*/

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 40px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 42%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

#file {
	display: none;
}

.file-preview .error {
	border: 2px solid red;
}

.b-img-Delete,
.b-img-Detail,
.b-img-Edit {
	background-repeat: no-repeat;
	background-position: center;

	background-size: 100% 100%;
	-webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
	border-radius: 7px;
	border: none;
	background-size: 50%;
	color: black;
}

.image_frame {
	width: 200px;
	height: 200px;
}

.animal-img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.table__images {
	height: 650px;

	overflow: auto;
}

.pagging {
	color: white;
	margin-right: 0.3em;
	margin-top: 0.5em;
	display: inline-block;
	text-align: center;
}

.table__container {
	margin: 0;
	margin-top: 1em;
	height: 29em;
	overflow: auto;
}

.activeButton {
	background-color: var(--clr-accent-300);
}

#filterContent {
	width: 11em;
}

.per_page__container {
	margin-right: 5%;
}

.per_page {
	padding: 0.8em;
	width: 4em;
}
