.formulario__grupo-incorrecto .formulario__input,
.formulario__grupo-incorrecto .area {
	border: 3px solid red;
}

.formulario__grupo-correcto .formulario__input,
.formulario__grupo-correcto .area {
	border: 3px solid #1ed12d;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #f66868;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__validacion-estado {
	position: relative;
	left: 275px;
	bottom: 30px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
	visibility: hidden;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0.5em;
	margin-top: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.form__row-segment {
	margin-bottom: 1em;
}

.row-separator {
	margin-bottom: 0.5em;
}

.subtitle {
	font-weight: bold;
}
