<div class="card">
    <label><b>Código: </b></label><label th:text="${p.cod_product}"></label><br>
    <label><b>Nombre: </b></label><label th:text="${p.name}"></label><br>
    <label><b>Precio: </b></label><label th:text="${p.price}"></label><br>
    <label><b>Tipo de animal: </b></label><label th:text="${p.type_animal}"></label><br>
    <label><b>Color: </b></label><label th:text="${p.color}"></label><br>
    <label><b>Disponibilidad: </b></label><label th:text="${p.availability}"></label><br>
    <label><b>Descripción: </b></label><label th:text="${p.description}"></label><br>
</div>