@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400;500;700&family=Roboto:ital,wght@0,300;1,100&display=swap');


*{
    box-sizing: border-box;
}

.body{
	background: #fcfcfc;
   
}

.containerRegistro{
    width: 80%;
    background-color:#d9d9d9;
    min-height: 72vh;
    padding: 2em 2em;
    text-align: center;
}
#name{
    width: 100%;
    background:#d9d9d9;
    padding: 5px;
    margin-top: -35px;
    text-align: center;
  }

.main{
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: -35px;
    padding: 40px;
    background-color:#d9d9d9;
}
/*modificar*/
.main2{
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: -20px;
    padding: 40px;
    background-color:#d9d9d9;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input,select{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.area{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}
 .area:focus{
    border: 3px solid #E78C4D;
    outline:none ;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
 }

.formulario__input:focus{
    border: 3px solid #E78C4D;
    outline:none ;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

 .formulario__validacion-estado{
    position: absolute;
    right: 10px; 
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
} 

.formulario__mensaje, .formulario__btn-enviar{
   grid-column: span 2;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66868;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin:0;

}

.formulario__grupo-btn-enviar{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: var(--clr-primary-200);
    color: inherit;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition:  background-color .250s, color .250s;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
}

.formulario__grupo-correcto,
.formulario__validacion-estado{
 color: #1ed12d;
 opacity: 1;
 
}

.formulario__grupo-correcto .formulario__grupo-input, .formulario__grupo-correcto .area{
    border: 3px solid #1ed12d;
}

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
    visibility: visible;
}

.formulario__grupo-incorrecto .formulario__label{
    color: red;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: red;
    opacity: 1;
    visibility: visible;
}

.formulario__grupo-incorrecto .formulario__input,.formulario__grupo-incorrecto .area{
    border: 3px solid red;
}
