@charset "ISO-8859-1";

*{
    font-family: 'Roboto', sans-serif;
}
.tableContainer{
    width: 85%;
    overflow-x: auto;
    margin: 0px auto;
}

#table{
    border-collapse: collapse;
    width: 100%;
}

caption{
    font-weight: 1000;
}

#tablax tr:nth-child(event){
    background-color: grey;
}

 th{
   background-color: #d9d9d9;
   color:black;
}
  tr:nth-of-type(even)  {
    background-color: var(--clr-neutral-200)
}


 th,  td{
    border: 1px solid #ddd;
    padding:8px;
    text-align: center;
}

.button{
   text-decoration: none;
    cursor: pointer;
    padding: .5em 1em;
    display: block;
    text-align: center;
    transition:transform .250s;
    width: 80%;
}

.bDelete,
.bDetail,
.bEdit {
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 40px;
    background-size: 100% 100%;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    border: none;
    background-size: 50%;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.bEdit:hover {
    background-color: #80ff80;
}

.bDetail:hover {
    background-color: #80ff80;
}

.bDelete:hover {
    background-color: #80ff80;
}


