<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{animals/layout/head_block :: head}"></div>
</head>

<body class="home">
	<header>
		<div class="navegationBar" th:replace="~{general/header :: head}"></div>
	</header>
	<div class="container">



		<a class="btn btn-send m-2" th:href="@{/animal/my_animals/{id}(id=125598745)}">Mis mascotas (Usuario 1)</a>

		<a class="btn btn-send m-2"
			th:href="@{/animal/register_form/{register_type}(register_type='user')}">Registrar</a>
		<a class="btn btn-send m-2" th:href="@{/animal/gestion_animal}">Gestión</a>

		<a class="btn btn-send m-2" th:href="@{/billing/my_bills/{id}(id=111111111)}">Mis facturas (Usuario 1)</a>

		<a class="btn btn-send m-2" th:href="@{/products/main_page}">Productos</a>

	</div>
	<footer>
		<div th:replace="~{general/footer :: foot}"></div>
	</footer>
</body>

</html>