<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{animals/layout/head_block :: head}"></div>
	
	<link th:href="@{/animals/assets/css/animal.css}" rel="stylesheet" />

</head>

<body>
	<header>
		<div th:replace="~{animals/layout/header :: head}"></div>
	</header>

	<div class="container">

		<div class="row justify-center">
			<div th:replace="~{animals/fragments/animal_form :: modify}"></div>
		</div>

		<div>
			<a class="btn btn-edit" onclick="window.history.go(-1)">Volver</a>
		</div>

	</div>

	<footer>
		<div th:replace="~{animals/layout/footer :: foot}"></div>
	</footer>
	<script th:src="@{/animals/assets/scripts/animal/animal_form_elements.js}"></script>
</body>

</html>