<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">

	<link rel="stylesheet" type="text/css" th:href="@{/general/style.css}">
	<link rel="stylesheet" type="text/css" href="/reservation/css/styleReservation.css">
	<title>Listado Reservaciones</title>
</head>

<body>

	<header>
		<div th:replace="~{general/header :: head}"></div>
	</header>
	<div class="container">
		<h1 class="ta-center">Reservaciones</h1>

		<div class="cardH">
			<div class="body">
			</div>
		</div>

	</div>

	<footer>
		<div th:replace="~{general/footer :: foot}"></div>
	</footer>

	<script src="https://kit.fontawesome.com/7248008f92.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script type="text/javascript" src="/reservation/js/jsReservation.js"></script>

</body>

</html>