<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/general/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

</head>
<body>
    
    <div th:replace="general/header.html :: head"> </div>


    <div class="container">

        <div id="card-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <article class="card">

                            
                            <div>
                                <h2 class="card__title" >Cirug&iacute;a General</h2>
                                <p class="card__subtitle" >Para todo tipo de animal</p>
                            </div>
                        
                            <div>
                                <button class="type-buttons-register">Solicitar Cita</button>
                            </div>
                        
        
                        
                        </article>
                    </li>
                    <li class="splide__slide">
                        <article class="card">

                            
                            <div>
                                <h2 class="card__title" >Radiograf&iacute;as</h2>
                                <p class="card__subtitle" >solamente animales pequeños</p>
                            </div>
                        
                            <div>
                                <button class="type-buttons-register">Solicitar Cita</button>
                            </div>
                        
        
                        
                        </article>
                    </li>
                    <li class="splide__slide">
                        <article class="card">

                            
                            <div>
                                <h2 class="card__title" >Vacunaci&oacute;n</h2>
                                <p class="card__subtitle" >Para todo tipo de animal</p>
                            </div>
                        
                            <div>
                                <button class="type-buttons-register">Solicitar Cita</button>
                            </div>
                        
        
                        
                        </article>
                    </li>
                    <li class="splide__slide">
                        <article class="card">

                            
                            <div>
                                <h2 class="card__title" >Radiograf&iacute;as</h2>
                                <p class="card__subtitle" >solamente animales pequeños</p>
                            </div>
                        
                            <div>
                                <button class="type-buttons-register">Solicitar Cita</button>
                            </div>
                        
        
                        
                        </article>
                    </li>
                    <li class="splide__slide">
                        <article class="card">

                            
                            <div>
                                <h2 class="card__title" >Radiograf&iacute;as</h2>
                                <p class="card__subtitle" >solamente animales pequeños</p>
                            </div>
                        
                            <div>
                                <button class="type-buttons-register">Solicitar Cita</button>
                            </div>
                        
        
                        
                        </article>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <footer th:replace="general/footer.html :: foot"></footer>


    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="https://kit.fontawesome.com/7248008f92.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/medicine/js/indexMedicine.js"></script>
    
</body>
</html>