<div th:fragment="foot" class="foot__container">
	<div class="p-1">
		<p class="ta-center ">Curso Lenguajes para aplicaciones comerciales IF-4101</p>
		<p class="ta-center">Creado por</p>
		<address class="ta-center">Luis Leiton</address>
		<address class="ta-center">Melina Montero</address>
		<address class="ta-center">Jennifer Granados</address>
		<address class="ta-center">Jessie Brenes</address>
	</div>

	<div class="foot__copy col-s12">
		<span> &copy; Todos los derechos reservados 2021</span>
	</div>

</div>