<div th:fragment="head" class="head__container">
	<div class="head__logo">
		<a href="/">
			<img th:src="@{/animals/assets/images/logo.svg}" alt="logo" class="head__image" />
		</a>
		<p>Happy Pet</p>
	</div>

	<nav class="head__nav">
		<a href="/" class="head__link home">Inicio</a>
		<a th:href="@{/products/main_page}" class="head__link store">Tienda</a>
		<a href="#" class="head__link">Mascotas</a>
		<a href="#" class="head__link">Servicios</a>
		<a href="#" class="head__link">Cuenta</a>
		<a th:href="@{/billing/cart}" class="head__link cart"><i class="fas fa-cart-arrow-down cart_ico"></i>
			<span class="cart_number" th:text="${shoppingCart.getSize()}" id="cartNumber"></span>
		</a>
	</nav>
</div>