<th:block th:fragment="head">
	<meta charset="UTF-8" />
	<title>Happy Pet.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="/branchOffice/css/styleIndex.css">

	<link th:href="@{/general/style.css}" Content-Type: text/css rel="stylesheet" />

	


	<link rel="icon" th:href="@{/animals/assets/images/logo.svg}" type="image/x-icon" />
	<script src="https://kit.fontawesome.com/7248008f92.js" crossorigin="anonymous"></script>

</th:block>