<div class="card">
    <label><b>Código: </b></label><label th:text="${p.cod_product}"></label><br>
    <label><b>Nombre: </b></label><label th:text="${p.name}"></label><br>
    <label><b>Precio: </b></label><label th:text="${p.price}"></label><br>
    <label><b>Tipo de animal: </b></label><label th:text="${p.type_animal}"></label><br>
    <label><b>Marca: </b></label><label th:text="${p.brand}"></label><br>
    <label><b>Tamaño: </b></label><label th:text="${p.size}"></label><br>
    <label><b>Descripción: </b></label><label th:text="${p.description}"></label><br>
</div>