<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta charset="UTF-8">
	<title>Añadir Productos</title>
    <link rel="stylesheet" type="text/css" href="/general/style.css" />
    <link rel="stylesheet" type="text/css" href="/products/productsCSS/add.css"/>
    <link rel="stylesheet" type="text/css" href="/users/employeeCSS/form.css" />
    <!-- Icon -->
    <link rel="icon" th:href="@{/general/logo.svg}" type="image/x-icon" />
</head>
<div class="navegationBar" th:replace="~{general/header :: head}"></div>

<body>

	<div class="container">

        <form class="Dform" id="formulario" autocomplete="off" enctype="multipart/form-data" method="POST">

            <h3 class="title">Nuevo Producto Alimento</h3>
            <div class="div-form">

				<input type="hidden" id="cod_product" th:value="${producto.cod_product}"/>

                <div class="col-left">
                    <div class="formulario__grupo" id="grupo__name">
                        <label class="subtitle">Nombre:</label>
                        <div class="formulario__grupo-input">
                            <input type="text" id="name" name="name" th:value="${producto.name}">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
						<p class="formulario__input-error">Solo se pueden ingresar letras</p>
                    </div>
                </div>

				<div class="col-left">
                    <div class="formulario__grupo" id="grupo__brand">
                        <label class="subtitle">Marca:</label>
                        <div class="formulario__grupo-input" >
                            <input type="text" id="brand" name="brand" th:value="${producto.brand}">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Solo se pueden ingresar letras</p>
                    </div>
                </div>

				<div class="col-rigth">
                    <label class="subtitle"> Tamaño:</label><br>
                    <select id="size" name="size">
						<option th:selected="${producto.size=='Pequeño'}" value="Pequeño">Pequeño</option>
						<option th:selected="${producto.size=='Mediano'}" value="Mediano">Mediano</option>
						<option th:selected="${producto.size=='Grande'}" value="Grande">Grande</option>
					</select>
                </div>

                <div class="col-left">
                    <label class="subtitle">Tipo Animal:</label><br>
                    <select id="type" name="type">
						<option th:selected="${producto.type_animal=='Perros'}" value="Perros">Perros</option>
                        <option th:selected="${producto.type_animal=='Gatos'}" value="Gatos">Gatos</option>
                    </select>
                </div>

				<div class="col-rigth">
                    <div class="formulario__grupo" id="grupo__price">
                        <label class="subtitle">Precio:</label>
                        <div class="formulario__grupo-input input-field">
                            <span class="colon">₡</span>
                            <input type="text" id="price" name="price" th:value="${producto.price}">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Solo se pueden ingresar letras</p>
                    </div>
                </div>

                <div class="fila-l">
                    <div class="formulario__grupo" id="grupo__description">
                        <label class="subtitle">Descripción:</label><br>
                        <textarea class="area" id="description" name="description" th:text="${producto.description}"></textarea>
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                </div>

                <div class="formulario__mensaje" id="formulario__mensaje"></div>

                <div class="fila-button">
                    <br><button id="bAdd" type="submit">Editar</button>
                </div>

            </div>
        </form>
    </div>

	

	 <!-- Imagenes -->
	 <script src="https://kit.fontawesome.com/7248008f92.js" crossorigin="anonymous"></script>
	 <!-- JQUERY -->
	 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	 <!-- Alert -->
	 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<!-- Script -->
	<script src="/products/aliment_js/editProducts.js"></script>
</body>
<div class="footer" th:replace="~{general/footer :: foot}"></div>

</html>