<h2 class="ta-center" th:unless="${animals}">
    No se han recuperado las mascotas.
</h2>

<div class="row justify-evenly" th:if="${animals}">

    <h2 class="ta-center" th:if="${animals.size() == 0}">
        No hay mascotas para mostrar
    </h2>

    <div th:unless="${animals.size() == 0}">

        <div th:fragment="table">
            <div class="table__container">
                <table id="table">
                    <thead id="encabesado">
                        <tr>
                            <th>Dueño</th>
                            <th>Nombre</th>
                            <th>Esp.</th>
                            <th>Raza</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="tbody" id="contenido">
                    </tbody>

                </table>

            </div>
            <div class="row justify-between">
                <div id="pagging"></div>
                <div class="per_page__container">
                    <label for="">Registros por página:</label>
                    <select name="" id="peerPage" class="per_page">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="25">25</option>
                    </select>
                </div>

            </div>

        </div>

    </div>

</div>

</div>