<h2 class="ta-center" th:unless="${animals}">
    No se han recuperado las mascotas.
</h2>

<div class="row justify-evenly" th:if="${animals}">

    <h2 class="ta-center" th:if="${animals.size() == 0}">
        No hay mascotas para mostrar
    </h2>

    <div th:unless="${animals.size() == 0}">

        <div class="table__container" th:fragment="table">
            <table id="table">
                <thead id="encabesado">
                    <tr>
                        <th>Dueño</th>
                        <th>Nombre</th>
                        <th>Esp.</th>
                        <th>Raza</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="tbody" id="contenido">

                    <tr th:each="animal : ${animals}" th:object="${animal}" th:id="*{id}">
                        <td th:text="${animal.registerId.owner == 0 ? 'N/A' : users.get(animal.registerId.owner)}"></td>


                        <td th:text="${animal.name.isEmpty() ? 'N/A' : animal.name}"></td>

                        <td th:text="*{specie}"></td>
                        <td th:text="*{breed}"></td>

                        <td id="buttonsAcions">
                            <div class="row justify-center">
                                <a class=" btn-send bDetail" th:onClick="getDetails([[${animal.registerId.id}]])"><i
                                        class="far fa-address-card"></i></a>

                                <a class=" btn-edit bEdit"
                                    th:onClick="getDetails(window.location.href = `/animal/modify_form?id=${[[${animal.registerId.id}]]}`)">
                                    <i class="far fa-edit"></i></a>
                                <a class=" btn-delete bDelete" th:onClick="deleteAlert([[${animal.registerId.id}]])"><i
                                        class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>