<div class="row justify-center" th:fragment="form">
    <form class="animal_form" name=animal_form action="/animal/save_image" method="POST" enctype="multipart/form-data"
        id="imageForm">

        <input type="hidden" name="id" th:value="${id}">
        <div class="row">
            <div class="col s4 off-s1">
                <div id="file-preview" class="file_preview"></div>
            </div>
            <div class="col s3">
                <input id="file" type="file" name="file" accept="image/*" required />

                <a class="btn register__button my-1" onclick="document.getElementById('file').click()"> Seleccionar
                    archivo.</a>

                <a class="btn register__button" onclick="submitImage()"> Enviar</a>

            </div>
        </div>
    </form>
</div>