<th:block th:fragment="table">

    <div class="table__container" th:fragment="table">
        <table id="table">
            <thead id="encabesado">
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Unitario</th>
                    <th>Total</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody class="tbody" id="contenido">

                <tr th:each="line :${shoppingCart.getListLines()}" th:id="${line.product.cod_product}">
                    <td> <span th:text="${line.product.name}"></span></td>
                    <td> <span th:text="${line.quantity}"></span></td>
                    <td> <span th:text="${line.product.getTotalString()}"></span></td>

                    <td> <span th:text="${line.getTotalString()}"></span></td>

                    <td id="buttonsAcions">
                        <div class="row justify-center">
                            <a class=" btn-delete bDelete"
                                th:onclick="removeFromCart([[${line.product.cod_product}]])"><i
                                    class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

        <p>Items en el carrito: <span th:text="${shoppingCart.getSize()}" id="onCart"></span></p>
        <p>Monto total: <span th:text="${shoppingCart.getTotalString()}"></span></p>
</th:block>