<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
    <!-- style-->
    <link rel="stylesheet" type="text/css" href="/general/style.css" />
    <link rel="stylesheet" type="text/css" href="/users/employeeCSS/add_employee.css" />
    <link rel="stylesheet" type="text/css" href="/users/employeeCSS/form.css" />
    <link rel="stylesheet" type="text/css" href="/general/header.css"/>
    <!-- Icon -->
    <link rel="icon" th:href="@{/general/logo.svg}" type="image/x-icon" />
</head>

<body>
    <header>
        <div class="navegationBar" th:replace="~{general/header :: head}"></div>
    </header>

    <div class="container">
        <form class="Dform formulario" id="formulario" name="formulario" autocomplete="off"
            enctype="multipart/form-data">

            <h2 class="title">Registrar</h2>

            <div class="col-left">
                <div class="formulario__grupo" id="grupo__id">
                    <label class="subtitle"> C&eacute;dula:</label>
                    <div class="formulario__grupo-input">
                        <input type="text" id="id" name="id" maxlength="9"
                            title="Ingresar solo numero del 0-9 eje:1-166-0434" />
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Solo se pueden ingresar n&uacute;meros</p>
                </div>
            </div>

            <div class="col-rigth">
                <div class="formulario__grupo" id="grupo__name">
                    <label class="subtitle"> Nombre:</label>
                    <div class="formulario__grupo-input">
                        <input type="text" id="name" name="name" maxlength="10"
                            title="Ingresar solo letras eje:Jennifer">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Solo se pueden ingresar letras</p>
                </div>
            </div>

            <div class="col-left">
                <div class="formulario__grupo" id="grupo__lastName">
                    <label class="subtitle"> Apellido:</label>
                    <div class="formulario__grupo-input">
                        <input type="text" id="lastName" name="lastName" maxlength="10"
                            title="Ingresar solo letras eje:Granados">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Solo se pueden ingresar letras</p>
                </div>
            </div>

            <div class="col-rigth">
                <div class="formulario__grupo" id="grupo__tel">
                    <label class="subtitle"> Tel&eacute;fono:</label>
                    <div class="formulario__grupo-input">
                        <input type="tel" id="tel" name="tel" maxlength="9"
                            OnKeyPress="return format('####-####',this,event);"
                            title="Ingresar solo numeros del 0-9 no separarlos eje:85472505">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Solo se pueden ingresar n&uacute;meros</p>
                </div>
            </div>

            <div class="col-left">
                <div class="formulario__grupo" id="grupo__passw">
                    <label class="subtitle">Nueva Contrase&ntilde;a:</label>
                    <div class="formulario__grupo-input">
                        <input type="password" id="passw" name="passw" maxlength="12">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Solo se pueden ingresar n&uacute;meros 0-9 caracteres . - _
                    </p>
                </div>
            </div>

            <div class="col-rigth">
                <div class="formulario__grupo" id="grupo__passw2">
                    <label class="subtitle">Confirmar Contrase&ntilde;a:</label>
                    <div class="formulario__grupo-input">
                        <input type="password" id="passw2" name="passw2" maxlength="12">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Solo se pueden ingresar n&uacute;meros 0-9 caracteres . - _
                    </p>
                </div>
            </div>

            <div class="col-left">
                <div class="formulario__grupo" id="grupo__mail">
                    <label class="subtitle">Correo electr&oacute;nico:</label>
                    <div class="formulario__grupo-input">
                        <input type="email" id="mail" name="mail" placeholder="xxx@gmail.com">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Solo se pueden ingresar correo valido</p>
                </div>
            </div>

            <div class="fila-l">
                <div class="formulario__grupo" id="grupo__address">
                    <label class="subtitle">Direcci&oacute;n:</label>
                        <textarea class="area" id="address" name="address" 
                        resize:none></textarea>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
            </div>

            <div class="formulario__mensaje" id="formulario__mensaje"></div>

            <div class="fila-button">
                <br><button id="bAdd" type="submit">Agregar</button>
            </div>
        </form>
    </div>
  

    <!-- Imagenes -->
    <script src="https://kit.fontawesome.com/7248008f92.js" crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Script -->
     <script src="/users/client_js/add.js"></script>

    <div class="footer" th:replace="~{general/footer :: foot}"></div>
</body>


</html>