<div class="table__container">
	<table id="table">
		<thead id="encabesado">
			<tr>
				<th>C&eacute;dula</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody class="tbody" id="contenido"></tbody>
	</table>
</div>
<div class="buttonPag">
	<div id="pagging"></div>
	<div class="pagging2">
		<label for="">Registros por página:</label>
		<select name="" id="peerPage">
			<option value="5" selected>5</option>
			<option value="10">10</option>
			<option value="25">25</option>
		</select>
	</div>
</div>