<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<title>Header Fragment</title>
</head>

<body>
	<div th:fragment="foot" class="foot__container">
			<div>
				<p class="ta-center">Curso Lenguajes para aplicaciones comerciales IF-4101</p> 
				<p class="ta-center">Creado por</p> 
					<address class="ta-center">Luis Leiton</address>
					<address class="ta-center">Melina Montero</address>
					<address class="ta-center">Jennifer Granados</address>
					<address class="ta-center">Jessie Brenes</address> 
			</div>

			<div class="foot__copy col-s12">
				<span> &copy; Todos los derechos reservados 2021</span>
			</div>
		
	</div>
</body>

</html>