<<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

    <head>
    </head>

    <body>
        <div th:fragment="head" class="head__container">
            <div class="head__logo">
                <a href="/sucursal/">
                    <img th:src="@{/general/logo.svg}" alt="logo" class="head__image" />
                </a>
                <p>Happy Pet</p>
            </div>

            <nav class="head__nav">

                <th:block th:if="false">
                    <li class="dropdown">
                        <a href="#animales" class="head__link">Animales</a>
                        <div class="dropdown-content">
                            <a th:href="@{/animal/gestion_animal}">Gestionar mascotas.</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="#Beneficiencias" class="head__link">Beneficiencias</a>
                        <div class="dropdown-content">
                            <a href="#cursos">Cursos</a>
                            <a href="#campanias">Campa&ntilde;as</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#Medicina" class="head__link">Medicina</a>
                        <div class="dropdown-content">
                            <a href="#laboratorio">Examenes de laboratorio</a>
                            <a href="#anestesia">Anestesia general</a>
                            <a href="#cirugia">Cirug&iacute;a general</a>
                            <a href="#vacunas">Vacunas</a>
                            <a href="#odontologia">Odontolog&iacute;a</a>
                            <a href="#radiografias">Radiograf&iacute;as digitales</a>

                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#Hotel" class="head__link">Hotel</a>
                        <div class="dropdown-content">
                            <a href="#actividades">Actividades</a>
                            <a href="#reservacion">Reservaci&oacute;n</a>
                        </div>


                    </li>
                    <li class="dropdown">

                        <a href="#Registro" class="head__link">Administraci&oacute;n</a>
                        <div class="dropdown-content">
                            <a href="/sucursal/formSucursal">Nueva Sucursal</a>
                            <a href="/sucursal/listar">Mostrar Sucursales</a>
                            <a href="#carrousel">Imagenes inicio</a>

                        </div>
                    </li>


                    <li class="dropdown" id="op2">
                        <a href="#Usuarios" class="head__link">Usuarios</a>
                        <div class="dropdown-content">
                            <a href="/entry" id="op3">Empleados</a>
                            <a href="#clientes">Clientes</a>
                        </div>
                    </li>


                    <li class="dropdown" id="op4">
                        <a href="#Productos" class="head__link">Productos</a>
                        <div class="dropdown-content">
                            <a id="op5" href="/clothes/inicio">Ropa</a>
                            <a id="op6" href="/aliment/inicio">Alimentos</a>
                            <a href="#veterinarios">Veterinarios</a>
                        </div>
                    </li>

                    <li class="dropdown" id="op7">
                        <a id="cerrarSesion" href="/" class="head__link">Cerrar sesi&oacute;n</a>
                    </li>
                </th:block>
                <!-- ------------------------------------------------------------------------------------------------------->
                <th:block th:unless="false">


                    <li class="dropdown">
                        <a href="#animales" class="head__link">Animales</a>
                        <div class="dropdown-content">
                            <a th:href="@{/animal/list_animals/adopt}">En adopci&oacute;n</a>
                            <a th:href="@{/animal/list_animals/sale}">En venta </a>

                        </div>
                    </li>

                    <li class="dropdown" id="op4">
                        <a href="#Productos" class="head__link">Productos</a>
                        <div class="dropdown-content">
                            <a id="op5" href="/clothes/inicio">Ropa</a>
                            <a id="op6" href="/aliment/inicio">Alimentos</a>
                            <a href="#veterinarios">Veterinarios</a>
                        </div>
                    </li>



                    <li class="dropdown">
                        <a href="#servicios" class="head__link">Servicios</a>
                        <div class="dropdown-content">
                            <a href="#medicina">Medicina</a>
                            <a href="#enhoteles">Hoteles</a>
                            <a href="#beneficiencias">Beneficiencias</a>

                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="#perfil" class="head__link">Servicios</a>
                        <div class="dropdown-content">
                            <a href="#compras">Compras</a>
                            <a href="#cerrarSesion">Cerrar sesión</a>
                            <a href="#misMascotas">Mis mascotas</a>

                        </div>
                    </li>

                    <li class="dropdown">
                        <a th:href="@{/billing/cart}" class="head__link cart"><i
                                class="fas fa-cart-arrow-down cart_ico"></i>
                            <span class="cart_number" th:text="${shoppingCart.getSize()}" id="cartNumber"></span>
                        </a>
                    </li>



                </th:block>
            </nav>
        </div>
    </body>

    </html>