<<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<div th:fragment="head" class="head__container">
		<div class="head__logo">
			<a href="/sucursal/">
				<img th:src="@{/images/logo.svg}" alt="logo" class="head__image" />
			</a>
			<p>Happy Pet</p>
		</div>

		<nav class="head__nav">
			<ul>
                <li class="dropdown">
                   
                    <a  href="#Productos" class="head__link">Productos</a>
                    <div class="dropdown-content">
                        <a href="#ropa">Ropa</a>
                        <a href="#alimentos">Alimentos</a>
                        <a href="#veterinarios">Veterinarios</a>

                    </div>
                </li>

                <li class="dropdown">
                    <a  href="#animales" class="head__link">Animales</a>
                    <div class="dropdown-content">
                        <a href="#enVenta">En venta</a>
                        <a href="#enAdopcion">En adopci&oacute;n</a>

                    </div>
                </li>

                <li class="dropdown">
                    <a  href="#Beneficiencias" class="head__link">Beneficiencias</a>
                    <div class="dropdown-content">
                        <a href="#cursos">Cursos</a>
                        <a href="#campanias">Campa&ntilde;as</a>

                    </div>
                </li>
                <li class="dropdown">
                    <a   href="#Medicina" class="head__link">Medicina</a>
                    <div class="dropdown-content">
                        <a href="#laboratorio">Examenes de laboratorio</a>
                        <a href="#anestesia">Anestesia general</a>
                        <a href="#cirugia">Cirug&iacute;a general</a>
                        <a href="#vacunas">Vacunas</a>
                        <a href="#odontologia">Odontolog&iacute;a</a>
                        <a href="#radiografias">Radiograf&iacute;as digitales</a>

                    </div>
                </li>
                <li class="dropdown">
                    <a href="#Hotel"  class="head__link" >Hotel</a>
                    <div class="dropdown-content">
                        <a href="#actividades">Actividades</a>
                        <a href="#reservacion">Reservaci&oacute;n</a>
                    </div>


                </li>
                <li class="dropdown">
                    
                    <a href="#Registro"  class="head__link">Administraci&oacute;n</a>
                    <div class="dropdown-content">
                        <a href="/sucursal/formSucursal">Nueva Sucursal</a>
                         <a href="/sucursal/listar">Mostrar Sucursales</a>
                         <a href="#carrousel"  >Imagenes inicio</a>
                       
                    </div>
                
                
                

            </ul>
            
		</nav>
	</div>
</body>

</html>