<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- style-->
    <link rel='stylesheet' type='text/css' media='screen' href='/general/login.css'>
    <!-- Icon -->
    <link rel="icon" th:href="@{/general/logo.svg}" type="image/x-icon" />
</head>

<body>
    <br><br>

    <div class="container">
        <form class="Dform" id="formulario">

            <div class="dBAdd"></div><br><br>

            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Número de cédula" name="id" id="id" maxlength="9" pattern="[0-9]{9}"
                    title="Ingresar solo números del 0-9 eje:114725987" required="required">
            </div>

            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Contraseña" name="password" id="password" maxlength="12"
                    required="required">
            </div><br>

            <div class="dBLogin">
                <button type="submit" class="blogin">Iniciar Sesi&oacute;n</button><br><br>
            </div>

            <div>
                <label class="subtitle">¿No estás registrado?</label>
                <a href="/register" class="subtitle2">Crear Cuenta</a>
            </div>

        </form>
        <br><br><br>
    </div>
    <!-- Imagenes -->
    <script src="https://kit.fontawesome.com/7248008f92.js" crossorigin="anonymous"></script>
    <!-- Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Script -->
    <script src="/general/login.js"></script>
</body>

</html>