<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{animals/layout/head_block :: head}"></div>
</head>

<body class="cart">

    <header>
        <div th:replace="~{general/header :: head}"></div>
        <link th:href="@{/general/table.css}" Content-Type: text/css rel="stylesheet" />
    </header>
    <div class="container">

        <h1>Items</h1>
        <div id="cart_table" th:insert="~{billing/fragments/cart_table :: table}"></div>

        <a class="btn btn-delete my-1" onclick="clearCart()"> Vaciar el carrito.</a>
        <a class="btn btn-delete my-1" onclick="buyout()"> Generar factura.</a>

    </div>
    <footer>
        <div th:replace="~{general/footer :: head}"></div>
    </footer>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script th:src="@{/animals/assets/scripts/billing/cart.js}"></script>

</body>

</html>