<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{layout/head_block :: head}"></div>
</head>

<body th:id="${user}">

    <header>
        <div th:replace="~{layout/header :: head}"></div>
    </header>

    <div id="table" class="container">
        <div th:replace="~{billing/fragments/bill_table :: table}"></div>
    </div>

    <footer>
        <div th:replace="~{layout/footer :: foot}"></div>
    </footer>

    <script th:src="@{/animals/assets/scripts/billing/my_bills.js}"></script>
    <script th:src="@{/animals/assets/scripts/billing/bill_detail.js}"></script>

</body>

</html>