<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{animals/layout/head_block :: head}"></div>
    <link th:href="@{/general/table.css}" Content-Type: text/css rel="stylesheet" />
    <link th:href="@{/billing/bills.css}" Content-Type: text/css rel="stylesheet" />
</head>

<body th:id="${user}">

    <header>
        <div th:replace="~{general/header :: head}"></div>
    </header>

    <div class="container ">

        <div id="table_cont">
            <div th:replace="~{billing/fragments/bill_table :: table}"></div>
        </div>

    </div>

    <footer>
        <div th:replace="~{general/footer :: foot}"></div>
    </footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script th:src="@{/animals/assets/scripts/billing/my_bills.js}"></script>
    <script th:src="@{/animals/assets/scripts/billing/bill_detail.js}"></script>
    <script th:src="@{/animals/assets/scripts/animal/stylish.js}"></script>
    <script>
        stilishBills();
    </script>
</body>



</html>