@charset "ISO-8859-1";
/* diseño del titulo*/

.title {
    text-align: center;
}

.Dform {
    width: 100%;
    border-radius: 8px;
    background-color: #D9D9D9;
    padding: 5px 5px;
    position: relative !important;
    height: 35em;
    margin-left: auto;
    margin-right: auto;
}

/* format div*/

.div-form {
    position: absolute !important;
    width: 100% !important;
    height: 70%!important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
}

.col-rigth {
    padding-right: 0px !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 46% !important;
    padding: 3px;
}

.col-left {
    padding-left: 0px !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 46% !important;
    padding: 3px;
}

.fila-l {
    padding: 8.5px;
    margin: 0px auto !important;
    width: 96% !important;
}

.fila-button {
    margin-left: 3% !important;
    margin: 0px auto !important;
}

/* dise�o del subtitulo */

input[type=text], #passw, select, #tel, #mail,.area{
    width: 100%;
    padding: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.subtitle {
    font-weight: bold;
}


#address {
    resize: none;
    width: 100%;
}

/*Format button*/

.b-back {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
}

#bAdd {
    width: 150px;
    height: 50px;
    background-color: #2263EF;
    color: black;
    font-weight: bold;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* dise�o de boton cuando pasan mose */

#bAdd:hover {
    background-color: #45a049;
}

.b-back:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.divImagen {
    display: block;
    border-radius: 20px;
}

.divImagen{
    max-width: 20%;
    display: block;
    border-radius: 20px;
    float: right;
}

#imagen {
    display: none;
}

#imagen+label {
    background-color: #08379c;
    padding: 5px;
    color: #fff;
    border: 2px solid black;
    border-radius: 9px;
}

#imagen+label:hover {
    background-color: #2263EF;
    border-color: #ccc;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {

	.Dform {
		height: 50em !important;
		justify-content: center !important;
	}

    .col-rigth,.col-left,.fila-l{
        padding-top: 5px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin: 5px auto !important;
		width: 97% !important;
		justify-content: center !important;
    }

    .container{
        width: 100%;
    }
}
