<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/branchOffice/css/styleInsertSucursal.css">
<link rel="stylesheet" type="text/css" href="/branchOffice/css/style.css">
 <link rel="stylesheet" type="text/css" href="/branchOffice/css/styleIndex.css">
</head>
<body class="bodyFormInsert">


	    <div th:replace="general/header.html :: head">
	
		</div>

    <div class="containerFormInsert">
    <form >
    	<div th:replace="branchOffice/fragmentos.html :: insertS"></div>
    	<div class="row">
             <input class=" btn_insert_sucursal" type="button" value="Registrar" onclick="addSucursal()">
   		 </div> 
    </form>
      
    </div>
      

 <footer th:replace="general/footer.html :: foot">
    
    </footer>



  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/branchOffice/js/jsInsertSucursal.js"></script>
  <script type="text/javascript" src="/branchOffice/js/validaciones.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>