<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

 <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/styleIndex.css">
</head>
<body>


  <div th:replace="general/header.html :: head"></div>

	<table>
		<thead>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</thead>
	</table>


<footer th:replace="general/footer.html :: foot"> </footer>
	

</body>
</html>