<div class="table__container">
	<table id="table">
		<thead id="encabesado">
			<tr>
				<th>C&eacute;dula</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Tipo de Empleado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody class="tbody" id="contenido"></tbody>
	</table>
</div>
<div class="row justify-between">
	<div id="pagging"></div>
	<div>
		<label for="">Registros por pagina:</label>
		<select name="" id="peerPage">
			<option value="5">5</option>
			<option value="10" selected>10</option>
			<option value="25">25</option>
		</select>
	</div>
</div>