<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/general/style.css" />
<link rel="stylesheet" type="text/css" href="/employeeCSS/error.css" />
<link rel="icon" th:href="@{/general/logo.svg}" type="image/x-icon" />
<title>Error</title>
</head>
<body>

	<div class="navegationBar" th:replace="~{general/header :: head}"></div>
	<br>
	<div class="container">
		<h2 class="mensaje" >No se entro nada en la busqueda</h2>
	</div>

</body>
</html>